.NavBar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: aqua;
  }
  .NavBarnav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    /* background: chartreuse; */
  }
  @media screen and (max-width: 481px) {
    .NavBar {
      display: none;
    }
  }
