.Body__content {
    /* background: yellow; */
    min-height: var(--bodyHight);
    overflow-y: scroll;
    font-size: 1rem;
    padding: 1rem;
    margin: 5px;

}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}