.sidebar_header {
    display: flex;
    justify-content: space-between;
    height: 5vh;
  }
  .graph_sidebar {
    width: 18rem;
    height: 80vh;

    overflow-y: scroll;
  }

  .graph_sidebar_buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    position: sticky;
    background: var(--scroll-bar-color);
    border-radius: 15px 0 0 15px;
  }

  .graph_sidebar_buttom_close {
    background: var(--scroll-bar-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    /* margin-right: 16rem; */
    border-radius: 0 15px 15px 0;
  }